body {
	background-color: #ccc;
}

.section {
	margin-bottom: 100px;
}

.card {
	background-color: transparent;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}
.card:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
}

@media only screen and (max-width: 768px) {
	.section {
		margin-bottom: 30px;
	}
}

/*
	NAVBAR
*/
@media only screen and (max-width: 768px) {
	#top-navbar {
		background-image: linear-gradient(rgba(204,204,204,1), rgba(204,204,204,0.3));
	}
}

/*
	LANDING
*/
#landing {
	margin-top: 100px;
	margin-bottom: 150px;
}

#landing a {
	text-decoration: none;
	color: rgb(70,70,80);
}

#landing a:hover {
	text-decoration: none;
	color: rgb(40,40,50);
}

#landing #my-face {
	border: 5px solid white;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

#landing #my-face:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
}

#landing #contact-me-btn {
	border: 1px solid grey;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
#landing #contact-me-btn:hover {
	border: 1px solid white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
	#landing {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	#landing .landing-text {
		margin-top: 30px !important;
	}
}

/*
	PORTFOLIO
*/
#portfolio .section-body {
	border-left: 1px solid green;
	padding: 30px;
}
#portfolio .section-body .section-item {
	padding: 10px;
}
#portfolio .section-body img {
	max-width: 150px;
	margin: 10px 0 !important;
}

#portfolio .section-body a {
	text-decoration: none;
	color: inherit;
}

#portfolio .section-body .pub .pub-title {
	margin-top: 20px;
}

#portfolio .section-body .pub .pub-keywords {
	margin-bottom: 20px;
}

#portfolio .section-body .pub .card {
	height: 100%;
}

#portfolio .section-body .pub .row {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

#portfolio .section-body .pub .pub-item {
	margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
	#portfolio .section-body {
		border-left: 0;
		border-top: 1px solid green;
	}
	#portfolio .section-title div {
		padding: 20px;
	}

	#portfolio .pub {
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

/*
	ABOUT ME
*/
#about-me a {
	text-decoration: none;
	color: rgb(70,70,80);
	font-weight: 500;
}

#about-me a:hover {
	text-decoration: none;
	color: rgb(40,40,50);
}

#about-me.section .section-title {
	border-bottom: 1px solid green;
}

/*
	PUBLICATIONS
*/
#publications .section-body {
	border-left: 1px solid green;
	padding: 30px;
}

#publications a {
	text-decoration: underline;
	color: rgb(70,70,80);
	font-weight: 500;
}

#publications a:hover {
	text-decoration: underline;
	color: rgb(40,40,50);
}

@media only screen and (max-width: 768px) {
	#publications .section-body {
		border-left: 0;
		border-top: 1px solid green;
	}
	#publications .section-title div {
		padding: 20px;
	}
}

/*
	FOOTER
*/
.footer .social-media a {
	color: white;
}

.footer .copyright {
	color: white;
	font-size: 1rem;
}
