body {
	background-color: #ccc;
	min-height: 10000px;
}

#root div {
}

/*
	LANDING
*/
#landing {
	margin-top: 100px;
	margin-bottom: 100px;
}

#landing a {
	text-decoration: none;
	color: rgb(70,70,80);
}

#landing a:hover {
	text-decoration: none;
	color: rgb(40,40,50);
}

#landing img {
	border: 5px solid white;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

#landing #contact-me-btn {
	border: 1px solid grey;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
#landing #contact-me-btn:hover {
	border: 1px solid white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
	#landing .landing-text {
		margin-top: 30px !important;
	}
}

/*
	PORTFOLIO
*/

/*
	FOOTER
*/
.footer .social-media a {
	color: white;
}
